<div class="container">
    <div class="row mt-5 justify-content-center">
        <div class="col-sm-10 col-md-8 col-lg-6">
            <div class="card text-white bg-dark">
                <div class="card-body mx-auto">
                    <h5 class="card-title text-center mb-3">Add story</h5>
                    <form (ngSubmit)="addStory()">
                        <div class="form-row align-items-center mt-3">
                            <label class="sr-only" for="inlineFormInputGroup1">Story name</label>
                            <div class="form-group">
                                <label for="inlineFormInputGroup1">Story name</label>
                                <input [(ngModel)]="story.name" type="text" class="form-control"
                                       id="inlineFormInputGroup1" placeholder="Story name" name="name">
                            </div>
                        </div>
                        <div class="form-row align-items-center mt-3">
                            <div class="form-group">
                                <label for="exampleFormControlTextarea1">Story description</label>
                                <textarea [(ngModel)]="story.description" class="form-control" placeholder="Provide a short description of the story..." id="exampleFormControlTextarea1" cols="50"
                                          rows="4" name="description"></textarea>
                            </div>
                        </div>
                        <div class="dropdown-divider mb-3"></div>
                        <div class="form-row align-items-center mt-3">
                            <div class="input-group mb-2">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">Priority &nbsp; &nbsp; &nbsp; &nbsp;</div>
                                </div>
                                <mat-form-field appearance="fill" style="background-color: white;">
                                    <mat-select [(ngModel)]="story.priority" [formControl]="priorityFormControl">
                                        <mat-option *ngFor="let priority of priorities" [value]="priority">{{priority}}</mat-option>
                                    </mat-select>
                                </mat-form-field>

                            </div>
                        </div>
                        <div class="dropdown-divider mb-3"></div>
                        <div class="form-row align-items-center mt-3">
                            <div class="form-group">
                                <label for="exampleFormControlTextarea2">Acceptance criteria</label>
                                <textarea [(ngModel)]="story.acceptanceCriteria" class="form-control" placeholder="Provide an acceptance criteria of the story..." id="exampleFormControlTextarea2" cols="50"
                                          rows="4" name="description"></textarea>
                            </div>
                        </div>
                        <div class="form-row align-items-center justify-content-center mt-3"></div>
                        <div class="form-group">
                            <label for="inlineFormInputGroup2">Business value (1-10)</label>
                            <input [(ngModel)]="story.businessValue" type="text" class="form-control"
                                   id="inlineFormInputGroup2" placeholder="Business value" name="business value">
                        </div>
                        <div class="form-row align-items-center justify-content-center mt-3">
                            <input id="submit-login" type="submit" class="btn btn-primary w-75 m-3" value="Add story">
                        </div>
                    </form>
                    <div *ngIf="success" class="alert alert-success alert-dismissible" role="alert">
                        Story successfully added!
                        <button type="button" class="close" (click)="hide()" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div *ngIf="error" class="alert alert-danger alert-dismissible" role="alert">
                        {{error}}
                        <button type="button" class="close" (click)="hide()" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
