<div class="container">
    <div class="row">
      <div *ngFor="let project of projects" class="col-md-4 mt-4"> <!-- *ngFor -->
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{project.name}}</h5>
            <p class="card-text">{{project.description}}</p>
            <a class="stretched-link" routerLink="/project/{{project._id}}"></a>
        </div>
        </div>
      </div>
    </div>
  </div>
  <div class="form-row align-items-center justify-content-center mt-3">
    <a *ngIf="authenticationService.is_logged()" routerLink="/projects/add" type="submit" class="btn btn-success w-25 m-3">Add project</a>
</div>
  