<div class="container">
    <div class="row">
      <div class="col-md-4 mt-4"> <!-- *ngFor -->
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Project 1</h5>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <a class="stretched-link" routerLink="/"></a>
        </div>
        </div>
      </div>
      <div class="col-md-4 mt-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Project 2</h5>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <a class="stretched-link" routerLink="/"></a>
        </div>
        </div>
      </div>
      <div class="col-md-4 mt-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Project 3</h5>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <a class="stretched-link" routerLink="/"></a>
        </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 mt-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Project 4</h5>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <a class="stretched-link" routerLink="/"></a>
        </div>
        </div>
      </div>
      <div class="col-md-4 mt-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Project 5</h5>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <a class="stretched-link" routerLink="/"></a>
        </div>
        </div>
      </div>
      <div class="col-md-4 mt-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Project 6</h5>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <a class="stretched-link" routerLink="/"></a>
        </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 mt-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Project 7</h5>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <a class="stretched-link" routerLink="/"></a>
        </div>
        </div>
      </div>
      <div class="col-md-4 mt-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Project 8</h5>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <a class="stretched-link" routerLink="/"></a>
        </div>
        </div>
      </div>
      
      <div class="col-md-4 mt-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Project 9</h5>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <a class="stretched-link" routerLink="/"></a>
        </div>
        </div>
      </div>
    </div>
  </div>
  <div class="form-row align-items-center justify-content-center mt-3">
    <a *ngIf="isLogged" routerLink="/projects/add" type="submit" class="btn btn-success w-25 m-3">Add project</a>
</div>
  