<div class="container">
  <div class="row">
    <ng-container *ngFor="let project of projects">
      <div *ngIf="roleForProject(project) || authenticationService.is_admin()" class="col-md-4 mt-4">
        <div class="card">
          <div class="card-body" [ngClass]="getColor(project)">
            <h5 class="card-title">{{project.name}}</h5>
            <p *ngIf="project.description.length>250" class="card-text">{{project.description | slice:0:250 }}...</p>
            <p *ngIf="project.description.length<=250" class="card-text">{{project.description}}</p>
            <a class="stretched-link" routerLink="/project/{{project._id}}"></a>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>
<div class="form-row align-items-center justify-content-center mt-3">
  <a *ngIf="authenticationService.is_admin()" routerLink="/projects/add" type="submit" class="btn btn-success w-25 m-3">Add project</a>
</div>
<h3 *ngIf="!authenticationService.is_logged()">Log in to see your projects!</h3>