<h3 *ngIf="!authenticationService.roleForProject(project)">User not part of project!</h3>
<div *ngIf="authenticationService.roleForProject(project)" class="container">
  <div class="row">
    <div class="card col-md-3 mt-4">
      <div class="card-body">
        <h5 class="card-title">Sprint details</h5>
        <h6 class="card-subtitle mt-4 mb-2 text-muted">Start date</h6>
        <p class="card-text">{{sprint.startDate | date:'dd.MM.YYYY'}}</p>
        <h6 class="card-subtitle mt-4 mb-2 text-muted">End date</h6>
        <p class="card-text">{{sprint.endDate | date:'dd.MM.YYYY'}}</p>
        <h6 class="card-subtitle mt-4 mb-2 text-muted">Velocity</h6>
        <p class="card-text">{{sprint.velocity}} points</p>
        <button routerLink="/project/{{sprint.project}}" class="btn btn-primary">Back to project</button>
      </div>
      
    </div>
    <div class="col-md-9 mt-4">
      <div class="modal" tabindex="-1" role="dialog" [ngClass]="{'d-block': showTaskEditModalFlag, 'd-none': !showTaskEditModalFlag}">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Edit Task</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="editTaskHide()">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form (ngSubmit)="commitEditTask(selectedTask)">
                <div class="form-group">
                  <div class="form-row align-items-center mt-3">
                    <label class="sr-only" for="inlineFormInputGroup1">Task description</label>
                    <div class="form-group">
                        <label for="inlineFormInputGroup1">Task description</label>
                        <input [(ngModel)]="selectedTask.name" type="text" class="form-control"
                               id="inlineFormInputGroup1" placeholder="Task description" name="name">
                    </div>
                </div>
                <div class="form-row align-items-center justify-content-center mt-2"></div>
                <div class="form-group">
                    <label for="inlineFormInputGroup2">Time estimate (hour)</label>
                    <input [(ngModel)]="selectedTask.timeEstimate" type="text" class="form-control"
                           id="inlineFormInputGroup2" placeholder="Time estimate" name="business value">
                </div>
                <div class="form-row align-items-center mt-3">
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text bg-primary text-white">Assignee</div>
                        </div>
                        <select [(ngModel)]="selectedTask.assignee" class="form-control" name="assignee">
                            <option *ngFor="let developer of developers" [ngValue]="developer._id">{{developer.firstname}} {{developer.lastname}}</option>
                        </select>
                    </div>
                </div>
                </div>
                <div class="form-group text-center">
                  <button type="submit" class="btn btn-primary w-50">Save changes</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <ng-container *ngFor="let story of stories; let i = index;">
        <div class="modal" tabindex="-1" role="dialog" [ngClass]="{'d-block': showRejectModalFlag, 'd-none': !showRejectModalFlag}">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header bg-danger">
                <h5 class="modal-title">Reject Story</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeRejectModal()">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form (ngSubmit)="rejectStory(selectedStory)">
                  <div class="form-group">
                    <label for="rejectionComment">Rejection Comment</label>
                    <textarea class="form-control" id="rejectionComment" rows="4" [(ngModel)]="rejectionComment" name="rejectionComment"></textarea>
                    <div *ngIf="error" class="alert alert-danger alert-dismissible" role="alert">
                      {{error}}
                      <button type="button" class="close" (click)="hide()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                  </div>
                  </div>
                  <div class="form-group text-center">
                    <button type="submit" class="btn btn-danger w-50">Reject</button>
                  </div>
                  
                </form>
              </div>
            </div>
          </div>
        </div>

      <div class="col-12 mt-4">
        <div class="card">
          <div class="card-header d-flex justify-content-between">
            <div>
                <h5 class="card-title">{{story.name}}</h5>
            </div>
            <div>
              <ng-container *ngIf="authenticationService.get_current_user()._id != project.product_owner.toString() && authenticationService.roleForProject(project)"> <!-- anyone working except product owner-->
                <button *ngIf="story.status !='Done' && story.status !='Accepted' && story.status !='Rejected' && allTasksFinishedForStory(story)" class="btn btn-success my-2" (click)="markDoneStory(story)">Finish</button> <!-- if not done/acc/rej and all tasks finished-->
                <p *ngIf="story.status=='Done'" class="text-warning">Pending</p>
              </ng-container>
              <ng-container *ngIf="authenticationService.get_current_user()._id == project.product_owner.toString()">
                <button *ngIf="story.status=='Done'" class="btn btn-success my-2" style="margin-right: 10px; font-size: 12px;" (click)="acceptStory(story)">Accept</button> 
                <button *ngIf="story.status === 'Done'" class="btn btn-danger my-2" style="font-size: 12px;" (click)="showRejectModal(story)">Reject</button>
              </ng-container>
              <ng-container *ngIf="story.status === 'Accepted'">
                <span class="text-success">Accepted</span>
              </ng-container>
              <ng-container *ngIf="story.status === 'Rejected'">
                <span class="text-danger">Rejected</span>
              </ng-container>
            </div>
        </div>
        <div class="card-body" [class]="{'accepted': story.status === 'Accepted', 'rejected': story.status === 'Rejected'}">
            <div class="row">
              <div class="col-6">
                <h6 class="card-subtitle mb-2 text-muted ">Priority</h6>
                <p class="card-text text-justify">{{story.priority}}</p>
              </div>
              <div class="col-6">
                <h6 class="card-subtitle mb-2 text-muted ">Business value</h6>
                <p class="card-text text-justify">{{story.businessValue}}</p>
              </div>
              <div class="col-12 mt-3">
                <h6 class="card-subtitle mb-2 text-muted ">Story description</h6>
                <p class="card-text text-justify">{{story.description}}</p>
              </div>
              <div class="col-12 mt-3">
                <h6 class="card-subtitle mb-2 text-muted ">Acceptance criteria</h6>
            <ol>
              <ng-container *ngFor="let ac of splitNewLine(story.acceptanceCriteria)">
                <li class="card-text">{{ac}}</li>
              </ng-container>
            </ol>
              </div>

              <div *ngIf="storyTasksMap.get(story._id)!=null && storyTasksMap.get(story._id).length>0" class="user-table-container text-center">
                <table class="table-hover table-responsive" mat-table [dataSource]="storyTasksMap.get(story._id)">
                    <ng-container matColumnDef="#">
                        <th mat-header-cell *matHeaderCellDef class="text-center">#</th>
                        <td mat-cell *matCellDef="let element; let i = index;"> {{i+1}} </td>
                    </ng-container>
                    
                    <ng-container matColumnDef="description">
                        <th mat-header-cell *matHeaderCellDef class="text-center">Description</th>
                        <td mat-cell *matCellDef="let task">{{ task.name }}</td>
                    </ng-container>

                    <ng-container matColumnDef="assignee">
                      <th mat-header-cell *matHeaderCellDef class="text-center">Assignee</th>
                      <td mat-cell *matCellDef="let task">
                        <div class="d-flex flex-column align-items-center mt-3">
                          <i class="fa-solid fa-circle-user fa-2xl" (click)="toggleAssign(task)"></i>
                          <span class="mt-3">{{ getDeveloperName(task.assignee) }}</span>
                        </div>
                      </td>
                      
                  </ng-container>

                  <ng-container matColumnDef="done">
                    <th mat-header-cell *matHeaderCellDef class="text-center">Done</th>
                    <td mat-cell *matCellDef="let task">
                      <button type="button" [ngClass]="task.done ? 'btn-sm btn-success' : ' btn-sm btn-danger'" (click)="toggleTask(task, story)"><i [ngClass]="task.done ? 'fas fa-check' : ' fas fa-times'"></i></button></td>
                  </ng-container>
                  <ng-container matColumnDef="accepted">
                    <th mat-header-cell *matHeaderCellDef class="text-center">Accepted</th>
                    <td mat-cell *matCellDef="let task"><button type="button" [ngClass]="task.accepted ? 'btn-sm btn-success' : ' btn-sm btn-danger'" (click)="acceptTask(task)"><i [ngClass]="task.accepted ? 'fas fa-check' : ' fas fa-times'"></i></button></td>
                </ng-container>
                <ng-container matColumnDef="timeEstimate">
                  <th mat-header-cell *matHeaderCellDef class="text-center">Hours remaining</th>
                  <td mat-cell *matCellDef="let task">{{task.timeEstimate}}</td>
              </ng-container>
              <ng-container matColumnDef="editTask">
                <th mat-header-cell *matHeaderCellDef class="text-center"></th>
                <td mat-cell *matCellDef="let task"><button type="button" class='btn btn-secondary' (click)="editTask(task)"><i class="fas fa-edit"></i></button></td>
            </ng-container>
    
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </div>
            <div *ngIf="story.comment" class="col-12 mt-3">
              <h6 class="card-subtitle mb-2 text-danger ">Rejected: {{story.comment}}</h6>
            </div>
            <div class="row mt-4" *ngIf="authenticationService.get_current_user()._id != project.product_owner.toString() &&  story.status!='Accepted' &&  story.status!='Done'"> <!-- not product owner and accepted-->
              <div class="d-flex justify-content-center">
                  <button *ngIf="!addTaskVisible[i]" (click)="showAddTask(i)" type="button" class="btn btn-dark w-25">Add task</button>
                  <button *ngIf="addTaskVisible[i]" (click)="hideAddTask(i)" type="button" class="btn btn-dark w-25">Hide Form</button>
              </div>
              <div *ngIf="addTaskVisible[i]">
                  <app-add-task (messageEvent)="update($event)" [story]="story._id" [developerIds]="developerIds"></app-add-task>
              </div>

            </div>
            </div>
            
          </div>
        </div>
      </div>
    </ng-container>
    </div>
  </div>    
</div>