<div class="container">
    <div class="row mt-5 justify-content-center">
        <div class="col-sm-10 col-md-8 col-lg-6">
            <div class="card text-white bg-dark text-center">
                <div class="card-body mx-auto">
                    <h5 class="card-title mb-3">Log in</h5>
                    <form (ngSubmit)="login()">
                        <div class="form-row align-items-center mt-3">
                            <div class="col-auto">
                                <label class="sr-only" for="inlineFormInputGroup1">Username</label>
                                <div class="input-group mb-2">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">Username</div>
                                    </div>
                                    <input [(ngModel)]="user.username" type="text" class="form-control"
                                        id="inlineFormInputGroup1" placeholder="Username" name="username">
                                </div>
                            </div>
                        </div>
                        <div class="form-row align-items-center mt-3">
                            <div class="col-auto">
                                <label class="sr-only" for="inlineFormInputGroup2">Password</label>
                                <div class="input-group mb-2">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">Password &nbsp;</div>
                                    </div>
                                    <input [(ngModel)]="user.password" type="password" class="form-control"
                                        id="inlineFormInputGroup2" placeholder="Password" name="password">
                                </div>
                            </div>
                        </div>

                        <input id="submit-login" type="submit" class="btn btn-primary w-50 m-3"
                            value="Log in">
                        <div class="login-el">
                            <a routerLink="/register" class="text-white">Don't have an account?</a>
                        </div>
                    </form>
                    <div *ngIf="error" class="alert alert-danger alert-dismissible mt-4" role="alert">
                        {{error}}
                        <button type="button" class="close" (click)="hide()" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>