<div class="container-fluid p-t-md">
    <div class="row">
        <div class="card col-md-4 mt-4">
            <div class="card-body"  >
              <h5 class="card-title">Project details</h5>
              <h6 class="card-subtitle mt-4 mb-2 text-muted">Project name</h6>
              <p class="card-text">{{project.name}}</p>
              <h6 class="card-subtitle mb-2 text-muted ">Project description</h6>
              <p class="card-text text-justify">{{project.description}}</p>
              <h6 class="card-subtitle mt-4 mb-2 text-muted">Scrum master</h6>
              <p *ngIf="!scrum_master.archived" class="card-text" [ngClass]="authenticationService.get_current_user()._id == scrum_master_id ? 'font-weight-bold text-success' : ''">{{scrum_master.firstname}} {{scrum_master.lastname}}</p>
              <p *ngIf="scrum_master.archived" class="card-text font-weight-bold text-error">Missing</p>
              <h6 class="card-subtitle mt-4 mb-2 text-muted">Product owner</h6>
              <p *ngIf="!product_owner.archived" class="card-text" [ngClass]="authenticationService.get_current_user()._id == product_owner_id ? 'font-weight-bold text-warning' : ''">{{product_owner.firstname}} {{product_owner.lastname}}</p>
              <p *ngIf="product_owner.archived" class="card-text font-weight-bold text-error">Missing</p>
              <h6 class="card-subtitle mt-4 mb-2 text-muted">Developers</h6>
              <p *ngFor="let developer of developers" class="card-text" [ngClass]="authenticationService.get_current_user()._id == developer._id ? 'font-weight-bold' : ''">{{developer.firstname}} {{developer.lastname}}</p>
          </div>
        </div>
        <div class="col-md-8 mt-4">
            <nav class="m-3">
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <button class="nav-link active" id="nav-backlog-tab" data-bs-toggle="tab" data-bs-target="#nav-backlog"
                        type="button" role="tab" aria-controls="nav-backlog" aria-selected="true" href="#nav-backlog" 
                        data-toggle="tab">Backlog</button>
                    <button class="nav-link" id="nav-sprints-tab" data-bs-toggle="tab" data-bs-target="#nav-sprints"
                        type="button" role="tab" aria-controls="nav-sprints" aria-selected="false" href="#nav-sprints" 
                        data-toggle="tab">Sprints</button>
                </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-backlog" role="tabpanel" aria-labelledby="nav-backlog-tab">
                    <div class="row">
                        <div class="col-md-4 justify-content-center align-items-center">
                            <button class="btn btn-primary w-100" type="button" data-toggle="collapse" data-target="#collapse1" aria-expanded="false" aria-controls="collapse1">
                                Unfinished
                              </button>
                            <div class="collapse show" id="collapse1">
                                <div *ngFor="let story of unfinishedStories" class="col-10"> <!-- *ngFor -->
                                    <div class="card bg-light mt-2">
                                        <div class="card-header d-flex justify-content-between">
                                            <div>
                                                <h5 class="card-title">{{story.name}}</h5>
                                            </div>
                                            <div> <!-- if not already assigned to sprint, if points assigned, if scrum master-->
                                                <input *ngIf="!story.sprint && story.storyPoints!=-1 && authenticationService.get_current_user()._id == scrum_master_id" class="form-check-input" type="checkbox" value="" (change)="checkStory(story._id, $event.target)">
                                            </div>
                                            
                                        </div>
                                      <div class="card-body">
                                        <p class="card-text"><b>Priority: </b>{{story.priority}}</p>
                                        <p class="card-text"><b>Business value: </b>{{story.businessValue}}</p>
                                        <p class="card-text"><b>Acceptance criteria:</b></p>
                                          <ol>
                                              <ng-container *ngFor="let ac of splitNewLine(story.acceptanceCriteria)">
                                                <li class="card-text">{{ac}}</li>
                                              </ng-container>
                                          </ol>
                                        <form *ngIf="authenticationService.get_current_user()._id == scrum_master_id && !(story.sprint)"> <!-- if not already assigned to sprint, if scrum master-->
                                            <div class="form-group">
                                              <label for="card-text example-input"><b>Story points: </b></label>
                                              <input class="form-control w-50" type="text" id="example-input" name="exampleInput" [value]="story.storyPoints" (change)="editStoryPoints(story, $event.target)">
                                            </div>
                                        </form>
                                        <p *ngIf="authenticationService.get_current_user()._id != scrum_master_id || story.sprint" class="card-text"><b>Story points: </b> {{story.storyPoints}}</p> <!-- if assigned to sprint, if not scrum master-->
                                        <p *ngIf="story.sprint" class="card-text"><b>Sprint: </b> {{story.sprint}}</p>
                                    </div>
                                  </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 justify-content-center align-items-center">
                            <button class="btn btn-success w-100" type="button" data-toggle="collapse" data-target="#collapse2" aria-expanded="false" aria-controls="collapse2">
                                Finished
                              </button>
                            <div class="collapse show" id="collapse2">
                                <div *ngFor="let story of finishedStories" class="col-10"> <!-- *ngFor -->
                                    <div class="card bg-light mt-2">
                                        <div class="card-header d-flex justify-content-between">
                                            <div>
                                                <h5 class="card-title">{{story.name}}</h5>
                                            </div>
                                            <div> <!-- if not already assigned to sprint, if points assigned, if scrum master-->
                                                <input *ngIf="!story.sprint && story.storyPoints!=-1 && authenticationService.get_current_user()._id == scrum_master_id" class="form-check-input" type="checkbox" value="" (change)="checkStory(story._id, $event.target)">
                                            </div>
                                            
                                        </div>
                                      <div class="card-body">
                                        <p class="card-text"><b>Priority: </b>{{story.priority}}</p>
                                        <p class="card-text"><b>Business value: </b>{{story.businessValue}}</p>
                                        <p class="card-text"><b>Acceptance criteria:</b></p>
                                          <ol>
                                              <ng-container *ngFor="let ac of splitNewLine(story.acceptanceCriteria)">
                                                <li class="card-text">{{ac}}</li>
                                              </ng-container>
                                          </ol>
                                        <form *ngIf="authenticationService.get_current_user()._id == scrum_master_id && !(story.sprint)"> <!-- if not already assigned to sprint, if scrum master-->
                                            <div class="form-group">
                                              <label for="card-text example-input"><b>Story points: </b></label>
                                              <input class="form-control w-50" type="text" id="example-input" name="exampleInput" [value]="story.storyPoints" (change)="editStoryPoints(story, $event.target)">
                                            </div>
                                        </form>
                                        <p *ngIf="authenticationService.get_current_user()._id != scrum_master_id || story.sprint" class="card-text"><b>Story points: </b> {{story.storyPoints}}</p> <!-- if assigned to sprint, if not scrum master-->
                                        <p *ngIf="story.sprint" class="card-text"><b>Sprint: </b> {{story.sprint}}</p>
                                    </div>
                                  </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 justify-content-center align-items-center"> <!-- NO CHECKBOX AND INPUT STORY POINTS BECAUSE THE STORIES ARE WON'T HAVE-->
                            <button class="btn btn-light w-100" type="button" data-toggle="collapse" data-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
                                Future releases
                              </button>
                            <div class="collapse show" id="collapse3">
                                <div *ngFor="let story of wontHaveStories" class="col-10"> <!-- *ngFor -->
                                    <div class="card bg-light mt-2">
                                        <div class="card-header d-flex justify-content-between">
                                            <div>
                                                <h5 class="card-title">{{story.name}}</h5>
                                            </div>                                            
                                        </div>
                                      <div class="card-body"> 
                                        <p class="card-text"><b>Priority: </b>{{story.priority}}</p>
                                        <p class="card-text"><b>Business value: </b>{{story.businessValue}}</p>
                                        <p class="card-text"><b>Acceptance criteria:</b></p>
                                          <ol>
                                              <ng-container *ngFor="let ac of splitNewLine(story.acceptanceCriteria)">
                                                <li class="card-text">{{ac}}</li>
                                              </ng-container>
                                          </ol>
                                        <p class="card-text"><b>Story points: </b> {{story.storyPoints}}</p> <!-- if assigned to sprint, if not scrum master-->
                                        <p *ngIf="story.sprint" class="card-text"><b>Sprint: </b> {{story.sprint}}</p>
                                    </div>
                                  </div>
                                </div>
                            </div>
                        </div>
                            
                    </div>
                    <div class="row mt-4">
                        <div class="d-flex justify-content-center">
                            <mat-form-field *ngIf="checkedStories.length>0" class="mr-4" style="background-color: white;">
                                <mat-label>Add to sprint</mat-label>
                                <mat-select [(ngModel)]="currSprint" panelClass="example-panel-white" >
                                  <mat-option *ngFor="let sprint of sprints" [value]="sprint"> Sprint {{sprint.startDate | date:'dd.MM'}} - {{sprint.endDate | date:'dd.MM'}}</mat-option>
                                </mat-select>
                              </mat-form-field>
                           <button *ngIf="checkedStories.length>0" (click)="addStoriesToSprint()" type="button" class="btn btn-success w-25 mr-2">Add stories to sprint</button>
                           <div *ngIf="checkedStories.length>0">{{getCheckedStoryPoints()}}<span *ngIf="currSprint.velocity!=0" >/{{calculateRemainingVelocity(currSprint)}} (remaining)</span>   </div>
                           <div *ngIf="success" class="alert alert-success alert-dismissible" role="alert">
                            Stories successfully added!
                            <button type="button" class="close" (click)="hide()" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            </div>
                            <div *ngIf="error" class="alert alert-danger alert-dismissible" role="alert">
                                {{error}}
                                <button type="button" class="close" (click)="hide()" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                       
                        </div>
                        <div class="row mt-4">
                            <div class="d-flex justify-content-center">
                                <button *ngIf="!addStoryVisible && (authenticationService.get_current_user()._id == scrum_master_id || authenticationService.get_current_user()._id == product_owner_id)" (click)="showAddStory()" type="button" class="btn btn-dark w-25">Add story</button>
                                <button *ngIf="addStoryVisible" (click)="hideAddStory()" type="button" class="btn btn-dark w-25">Hide Form</button>
                            </div>
                        </div>
                        
                        <div *ngIf="addStoryVisible">
                            <app-add-story (messageEvent)="update($event)" [project]="project._id"></app-add-story>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="nav-sprints" role="tabpanel" aria-labelledby="nav-sprints-tab">
                    <div class="row">
                        <div *ngFor="let sprint of sprints; let i = index;" class="col-md-3 m-4"> <!-- *ngFor -->
                            <div class="card">
                                <div class="card-header d-flex justify-content-between bg-info">
                                    <div>
                                        <h5 class="card-title">Sprint #{{i+1}}</h5>
                                    </div>
                                    
                                </div>
                              <div class="card-body">
                                <p class="card-text"><b>Start date: </b>{{sprint.startDate | date:'dd.MM'}}</p>
                                <p class="card-text"><b>End date: </b>{{sprint.endDate | date:'dd.MM'}}</p>
                                <p class="card-text"><b>Velocity: </b> {{sprint.velocity}}</p>
                                <!--<p *ngIf="sprint.project" class="card-text"><b>Project: </b> {{sprint.project}}</p> -->
                            </div>
                          </div>
                        </div>
                </div>
                <div class="row mt-4">
                    <div class="d-flex justify-content-center">
                        <button *ngIf="!addSprintVisible && authenticationService.get_current_user()._id == scrum_master_id" (click)="showAddSprint()" type="button" class="btn btn-dark w-25">Add sprint</button>
                        <button *ngIf="addSprintVisible && authenticationService.get_current_user()._id == scrum_master_id" (click)="hideAddSprint()" type="button" class="btn btn-dark w-25">Hide Form</button>
                    </div>
                    <div *ngIf="addSprintVisible">
                        <app-add-sprint (messageEvent)="update($event)" [project]="project._id"></app-add-sprint>
                    </div>

                </div>
                    
                    
                </div>
            </div>
        </div>       
    </div>
</div>
