<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>SMRPO</title>
    <base href="/">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link rel="stylesheet" href="/assets/stylesheets/bootstrap.lux.min.css">
    <link rel="stylesheet" href="/assets/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/stylesheets/sidebar.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  
  </head>
  <body class="pt-5">
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="/">
          <span>
          <svg style="width:24px;height:24px" viewBox="0 0 24 24">
          <path fill="white" d="M23.5 17L18.5 22L15 18.5L16.5 17L18.5 19L22 15.5L23.5 17M6 2C4.89 2 4 2.9 4 4V20C4 21.11 4.89 22 6 22H13.81C13.45 21.38 13.2 20.7 13.08 20H6V4H13V9H18V13.08C18.33 13.03 18.67 13 19 13C19.34 13 19.67 13.03 20 13.08V8L14 2M8 12V14H16V12M8 16V18H13V16Z" />
          </svg>
          </span>SMRPO
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMain">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarMain">
      <ul class="navbar-nav mr-auto">
        <li class="navbar-nav">
          <a *ngIf="!is_user_logged()" class="nav-link" (click)="navto('login')">Login</a>
          <a class="nav-link" (click)="navto('projects')">Projects</a>
          <a *ngIf="authenticationService.is_admin()" class="nav-link" (click)="navto('admin')">Admin</a>
        </li>
      </ul>
    </div>
    <div class="navbar-collapse collapse order-2 dual-collapse2">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <span *ngIf="is_user_logged()" class="dropdown-item nav-link">Welcome {{authenticationService.get_current_user().username}}!
            <svg *ngIf="authenticationService.is_admin()" xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="yellow" class="bi bi-star-fill" viewBox="0 0 16 16"><path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/></svg>
          </span>
          
        </li>
        <li class="nav-item">
          <div class="btn-group dropleft">
                          <span (click)="openNav()">
                            <svg class="dot" style="width:50px; height:50px;" viewBox="0 0 24 24"><path fill="white" d="M12,4A4,4 0 0,1 16,8A4,4 0 0,1 12,12A4,4 0 0,1 8,8A4,4 0 0,1 12,4M12,14C16.42,14 20,15.79 20,18V20H4V18C4,15.79 7.58,14 12,14Z" /></svg>
                          </span>
            <div class="sidenav bg-dark" id="mySidenav">
              <div id="items" style="margin-left: 20px">
                <a href ="javascript:void(0)" class="closebtn nav-link" (click)="closeNav()">&times;</a>
                <div class="dropdown-name nav-link text-center">
                  <span *ngIf="is_user_logged()" class="dropdown-item nav-link">Log-in #{{authenticationService.get_current_user().login_counter}} at:</span>
                    <!--<a *ngIf="is_user_logged()" class="dropdown-item nav-link">Welcome {{username}}!</a>-->
                    <span *ngIf="is_user_logged() && authenticationService.get_current_user().login_counter==1" class="small">First log-in</span>
                    <span *ngIf="is_user_logged() && authenticationService.get_current_user().login_counter!=1" class="small">{{authenticationService.get_current_user().timestamp | date:'dd-MM-YYYY HH:mm'}}</span>
                    <div *ngIf="authenticationService.is_logged()" class="dropdown-divider"></div>  
                    <a *ngIf="authenticationService.is_logged()" class="dropdown-item nav-link" routerLink="/users/{{authenticationService.get_current_user()._id}}">My profile</a> <!-- with navto? (click)="navto('/users/authenticationService.get_current_user()._id')"-->
                    <a *ngIf="authenticationService.is_logged() && authenticationService.is_admin()" class="dropdown-item nav-link" (click)="navto('admin')">Admin view</a>
                    <button *ngIf="authenticationService.is_logged()" type="button" class="btn btn-danger btn-block" (click)="logout()">Log out</button>
                </div>
                </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </nav>
  <main>
    <div class="container-fluid mt-4 content">
      <router-outlet></router-outlet>
      <footer class="mt-5">
        <div class="row text-center justify-content-center">
          <div class="col-12">
            <small>&copy; SMRPO</small>
          </div>
        </div>
      </footer>
    </div>
  </main>
  <script src="/assets/javascripts/sidebarlogic.js"></script>
  </body>
