<div class="container">
    <div class="row mt-5 justify-content-center">
        <div class="col-sm-10 col-md-8 col-lg-6">
            <div class="card text-white bg-dark text-center">
                <div class="card-body mx-auto">
                    <h5 class="card-title mb-3">Sign-up</h5>
                    <form (ngSubmit)="register()">
                        <div class="form-row align-items-center mt-3">

                            <label class="sr-only" for="inlineFormInputGroup">First name</label>
                            <div class="input-group mb-2">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">First name</div>
                                </div>
                                <input [(ngModel)]="user.firstname" type="text" class="form-control"
                                    id="inlineFormInputGroup" placeholder="First name" name="firstname">
                            </div>

                        </div>
                        <div class="form-row align-items-center mt-3">

                            <label class="sr-only" for="inlineFormInputGroup">Last name</label>
                            <div class="input-group mb-2">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">Last name</div>
                                </div>
                                <input [(ngModel)]="user.lastname" type="text" class="form-control"
                                    id="inlineFormInputGroup" placeholder="Last name" name="lastname">
                            </div>

                        </div>
                        <div class="form-row align-items-center mt-3">

                            <label class="sr-only" for="inlineFormInputGroup">Username</label>
                            <div class="input-group mb-2">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">Username</div>
                                </div>
                                <input [(ngModel)]="user.username" type="text" class="form-control"
                                    id="inlineFormInputGroup" placeholder="Username" name="username">
                            </div>

                        </div>
                        <div class="form-row align-items-center mt-3">

                            <label class="sr-only" for="inlineFormInputGroup">Username</label>
                            <div class="input-group mb-2">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">E-mail &nbsp; &nbsp; </div>
                                </div>
                                <input [(ngModel)]="user.email" type="text" class="form-control"
                                    id="inlineFormInputGroup" placeholder="E-mail" name="email">
                            </div>

                        </div>
                        <div class="form-row align-items-center mt-3">
                            <div class="col-auto">
                                <label class="sr-only" for="inlineFormInputGroup">Password</label>
                                <div class="input-group mb-2">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">Password</div>
                                    </div>
                                    <input [type]="passwordVisible ? 'text' : 'password'" [(ngModel)]="user.password" class="form-control"
                                        id="inlineFormInputGroup" placeholder="Password" name="password">
                                    <div class="input-group-append">
                                        <span class="input-group-text">
                                            <a href="javascript:void(0)" (click)="showPassword()"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16"><path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z" /><path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z" /></svg></a>
                                            </span>
                                    </div>
                                </div>
                                <password-strength-meter [password]="user.password"></password-strength-meter>
                                <small>Your password should be 8-20 characters long, contain letters and
                                    numbers.</small>
                            </div>
                        </div>
                        <input id="submit-login" type="submit" class="btn btn-primary w-50 m-3" value="Register">
                        <div class="login-el">
                            <a routerLink="/login">Already have an account?</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>